<mat-toolbar color="primary" style="margin-bottom: 10px; background-color: #333">
  <mat-toolbar-row>
    <span style="margin-right: 14px"><img src="assets/fox.svg" height="28" style="position: relative; top: 7px; margin-top: -7px"> BHD-Burst-Proxy{{getRunningVersion() ? ' ' + getRunningVersion() : ''}}</span>
    <span *ngIf="showSideBySide()" >
      <span *ngFor="let proxy of getProxies()">
        <span>|</span>
        <button mat-button (click)="currentlySelectedProxy = proxy" [ngClass]="{'mat-accent': currentlySelectedProxy === proxy}">{{proxy.name}}</button>
      </span>
    </span>
    <span *ngIf="!showSideBySide()">
      <button mat-stroked-button class="mat-accent" [matMenuTriggerFor]="proxySelection">{{currentlySelectedProxy.name}}</button>
      <mat-menu #proxySelection="matMenu" class="custom-menu">
        <button mat-menu-item *ngFor="let proxy of getProxies()" (click)="currentlySelectedProxy = proxy">
          {{ proxy.name }}
        </button>
      </mat-menu>
    </span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="custom-menu">
      <button mat-menu-item (click)="resetLocalConfig()">
        <mat-icon>replay</mat-icon>
        Reset the local configuration
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <a mat-icon-button href="https://github.com/felixbrucker/bhd-burst-proxy#donate" target="_blank">
      <mat-icon aria-label="Github" style="color: #b700b4">favorite</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
