<mat-card style="width: 240px">
  <mat-card-header>
    <mat-card-title>
      <span>Miner</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let miner of getMiner()">
      <span style="float: left;">{{miner.id}}</span>
      <span style="float: right;">{{getCapacityString(miner.capacity)}}</span>
      <div style="clear: both;"></div>
    </div>
    <hr>
    <span style="float: left;">Total</span>
    <span style="float: right;">{{getCapacityString(totalCapacity)}}</span>
    <div style="clear: both;"></div>
  </mat-card-content>
</mat-card>
