module.exports = {
  apps: [
    {
      name: 'burst-proxy',
      script: './main.js',
      watch: true,
      ignore_watch: ['database.sqlite', 'node_modules', '.git'],
      env: {
        DATABASE_URL: 'sqlite:database.sqlite',
      },
    }
  ]
};
