<div class="flex-container-row">
  <div style="margin: 5px;">
    <app-upstream-info
      [name]="upstream.name"
      [estimatedCapacityInTB]="upstream.estimatedCapacityInTB"
      [historicalRounds]="upstream.historicalRounds"
      [bestDL]="upstream.bestDL"
      [currentBlock]="upstream.blockNumber"
      [netDiff]="upstream.netDiff"
      [roundStart]="upstream.roundStart"
      [miners]="miners"
      [maxScanTime]="maxScanTime"
      [totalCapacity]="totalCapacity">
    </app-upstream-info>
  </div>
  <app-round-stats [totalRounds]="upstream.totalRounds"
                   [roundsWithDLs]="upstream.roundsWithDLs"
                   [roundsSubmitted]="upstream.roundsSubmitted"
                   [roundsWon]="upstream.roundsWon"
                   style="margin: 5px;">
  </app-round-stats>
  <app-net-diff-chart
    [historicalRounds]="upstream.historicalRounds.reverse()"
    style="margin: 5px;">
  </app-net-diff-chart>
</div>
