<div class="flex-container-row">
  <div style="margin: 5px;">
    <app-upstream-info
      [name]="upstream.name"
      [estimatedCapacityInTB]="upstream.estimatedCapacityInTB"
      [historicalRounds]="upstream.historicalRounds"
      [bestDL]="upstream.bestDL"
      [currentBlock]="upstream.blockNumber"
      [netDiff]="upstream.netDiff"
      [roundStart]="upstream.roundStart"
      [miners]="miners"
      [maxScanTime]="maxScanTime"
      [connected]="upstream.connected"
      [connectionQuality]="upstream.connectionQuality">
    </app-upstream-info>
  </div>
  <app-round-stats *ngIf="showCard('round-stats')"
                   [totalRounds]="upstream.totalRounds"
                   [roundsWithDLs]="upstream.roundsWithDLs"
                   [roundsSubmitted]="upstream.roundsSubmitted"
                   [roundsWon]="upstream.roundsWon"
                   [upstreamFullName]="upstream.fullName"
                   style="margin: 5px;">
  </app-round-stats>
  <app-blocks-won-list *ngIf="showCard('blocks-won-list')"
    [historicalRounds]="upstream.historicalRounds"
    [isBHD]="upstream.isBHD"
    [coin]="upstream.coin"
    [upstreamFullName]="upstream.fullName">
  </app-blocks-won-list>
  <app-net-diff-chart *ngIf="showCard('net-diff-chart')"
    [historicalRounds]="upstream.historicalRounds"
    [upstreamFullName]="upstream.fullName"
    style="margin: 5px;">
  </app-net-diff-chart>
</div>
