.flex-container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  justify-content: center;
}

.flex-container-row {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
