<div class="flex-container-row">
  <div>
    <app-proxy-info
      [name]="proxy.name"
      [maxScanTime]="proxy.maxScanTime"
      [miners]="proxy.miner"
      [totalCapacity]="proxy.totalCapacity">
    </app-proxy-info>
  </div>
  <div class="flex-container-col">
    <app-upstream *ngFor="let upstream of proxy.upstreamStats" [upstream]="upstream" style="margin: 8px"></app-upstream>
  </div>
  <div>
    <app-miner-stats [miner]="proxy.miner" [totalCapacity]="proxy.totalCapacity"></app-miner-stats>
  </div>
</div>
