<div class="flex-container-row">
  <div style="margin: 10px;">
    <app-proxy-info
      [name]="proxy.name"
      [maxScanTime]="proxy.maxScanTime"
      [miners]="proxy.miner"
      [totalCapacity]="proxy.totalCapacity"
      [currentBlockHeights]="getCurrentBlockHeights()">
    </app-proxy-info>
  </div>
  <div class="flex-container-col">
    <app-upstream *ngFor="let upstream of proxy.upstreamStats"
                  [upstream]="upstream"
                  [miners]="proxy.miner"
                  [maxScanTime]="proxy.maxScanTime"
                  [totalCapacity]="proxy.totalCapacity"
                  style="margin: 8px">
    </app-upstream>
  </div>
</div>
