<mat-card style="width: 320px" class="custom-card">
  <mat-card-header>
    <mat-card-title>
      <span>Rounds</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content style="font-size: 1em">
    <span style="float: left;">Submitted</span>
    <span style="float: right;"><span style="font-size: 0.8em">{{getSubmitPercent()}}%</span> {{roundsSubmitted}}/{{totalRounds}}</span>
    <div style="clear: both;"></div>
    <span style="float: left;">Won</span>
    <span style="float: right;">{{roundsWon}}</span>
    <div style="clear: both;"></div>
    <canvas #roundsSubmittedChart>{{roundsSubmittedChart}}</canvas>
  </mat-card-content>
</mat-card>
