<mat-toolbar color="primary" style="margin-bottom: 10px; background-color: #333">
  <mat-toolbar-row>
    <span style="margin-right: 14px"><img src="favicon.png" height="28" style="position: relative; top: 7px; margin-top: -7px"> BHD-Burst-Proxy</span>
    <span *ngFor="let proxy of getStats()">
      <span>|</span>
      <button mat-button (click)="setCurrentProxy(proxy)" [ngClass]="{'mat-accent': getCurrentProxy() === proxy}">{{proxy.name}}</button>
    </span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-button
            (click)="resetLocalConfig()"
            matTooltip="Reset the local configuration"
            matTooltipClass="larger-tooltip">
      <mat-icon aria-label="Reset local config">replay</mat-icon>
    </button>
    <a mat-icon-button href="https://github.com/felixbrucker/bhd-burst-proxy#donate" target="_blank">
      <mat-icon aria-label="Github" style="color: #b700b4">favorite</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="!getCurrentProxy()">
  <mat-spinner [diameter]="40" style="margin:0 auto;"></mat-spinner>
</div>
<div class="flex-container" *ngIf="getCurrentProxy()">
  <app-proxy [proxy]="getCurrentProxy()"></app-proxy>
</div>
