<mat-toolbar color="primary" style="margin-bottom: 10px">
  <mat-toolbar-row>
    <span style="margin-right: 14px">BHD-Burst-Proxy</span>
    <span *ngFor="let proxy of getStats()">
      <span>|</span>
      <button mat-button (click)="setCurrentProxy(proxy)">{{proxy.name}}</button>
    </span>
    <span style="flex: 1 1 auto;"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<div class="flex-container" *ngIf="getCurrentProxy()">
  <app-proxy [proxy]="getCurrentProxy()"></app-proxy>
</div>
