<mat-card style="width: 320px" class="custom-card">
  <mat-card-header style="margin-left: -16px">
    <mat-card-title style="display: flex; justify-content: space-between;">
      <span class="ellipsis">{{name}}</span>
      <span style="display: flex; margin-top: 6px">
        <mat-progress-bar
          [ngClass]="{'green': scanProgress === 100, 'purple': scanProgress !== 100}"
          style="width: 120px; height: 10px; border-radius: 8px; margin-top: 3px;"
          color="primary"
          mode="determinate"
          [value]="scanProgress">
        </mat-progress-bar>
        <span style="font-size: 0.7em">&nbsp;{{scanProgress}}%</span>
      </span>
    </mat-card-title>
    <mat-card-subtitle style="color: #dcddde">
      <span>Start time: {{getStartTime()}} | Elapsed: {{getElapsedSinceStart()}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span style="float: left;">Best deadline</span>
    <span style="float: right;">{{getBestDLString()}}</span>
    <div style="clear: both;"></div>
    <span style="float: left;">Current block</span>
    <span style="float: right;">{{currentBlock}}</span>
    <div style="clear: both;"></div>
    <span style="float: left;">Difficulty</span>
    <span style="float: right;">{{netDiff.toFixed(0)}}</span>
    <div style="clear: both;"></div>
    <div>
      &nbsp;
    </div>
    <span style="float: left;">Avg DL all time</span>
    <span style="float: right;">{{getAvgDL()}}</span>
    <div style="clear: both;"></div>
    <span style="float: left;">Best DL all time</span>
    <span style="float: right;">{{getBestDL()}}</span>
    <div style="clear: both;"></div>
    <span style="float: left;">Estimated Capacity</span>
    <span style="float: right;">{{getEstimatedCapacity()}}</span>
    <div style="clear: both;"></div>
  </mat-card-content>
</mat-card>
