.purple ::ng-deep .mat-progress-bar-fill::after {
  background-color: rgb(124, 0, 196);
}

.green ::ng-deep .mat-progress-bar-fill::after {
  background-color: rgba(33, 224, 132, 0.5);
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
span[positive] {
  background-color: rgb(75, 210, 143);
}
span[intermediary] {
  background-color: rgb(255, 170, 0);
}
span[negative] {
  background-color: rgb(255, 77, 77);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 162px;
}
.ellipsis:hover {
  overflow: visible;
  max-width: none;
  width: auto;
}
