html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.dark-theme {
  background-color: #36393f;
  color: #cfd0d1;
}

.custom-card {
  background-color: #333;
  color: #dcddde;
}
